@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background-color: #050505;
  /* Deep black/gray background */
  color: #ededed;
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #fbbf24;
  /* yellow-400 */
  color: #000;
}